body{ background-image:url("https://assets.nflxext.com/ffe/siteui/vlv3/3b48f428-24ed-4692-bb04-bc7771854131/7d96189e-4a66-48ad-bf08-e6f850f8463e/IN-en-20200302-popsignuptwoweeks-perspective_alpha_website_small.jpg");
  background-color:black;
}
ul{
  display:flex;
  justify-content:space-between;
}
.overlay{
background: #00000094;
position: fixed;
top: 0;
left: 0;
height: 100%;
width:100%;
}



#logo{font-family:"impact";
  justify-content:left;
  color:red;
  
}  


div {
  text-align:center;
  text-color:white;
  padding-top:8px;
justify-content:center;
background-color:red;

}
.box{
  width:80px;
  height:30px;
}


section{
  color:white;
  text-align:center;
  font-size:30;
  font-weight:bold;
  
}
#box-2 { 
  height:50px;
  list-style:none;
  display:flex;
  justify-content:center;
  

}